@charset "UTF-8";

#wrap {z-index:1;position:relative;width:100%;overflow:hidden;}

/* 헤더 영역 */
#wrap #header {z-index:3;position:fixed;top:0;left:0;width:100%;height:120px;background:#f6f5ef;border-top:2px solid #000;border-bottom:1px solid #e5e5e5;}
#wrap #header .wrap {width:1100px;height:120px;margin:0 auto;}

/* 로고  */
#wrap #header .wrap #logo {float:left;width:75px;height:120px;}
#wrap #header .wrap #logo h1 {width:75px;height:75px;padding:22px 0;}
#wrap #header .wrap #logo h1 a {display:inline-block;}
#wrap #header .wrap #logo h1 a img {width:75px;height:75px;}

/* 네비 영역 */
#wrap #header .wrap #menu {float:left;width:1025px;height:120px;}
#wrap #header .wrap #menu #aside {width:100%;height:54px;text-align:right;}
#wrap #header .wrap #menu #aside ul {display:inline-block;}
#wrap #header .wrap #menu #aside ul li {display:inline-block;padding-top:7px;margin-left:20px;}
#wrap #header .wrap #menu #aside ul li a {font-size:13px;color:#555;font-weight:500;}
#wrap #header .wrap #menu #aside ul li a:hover {text-decoration:underline;}
#wrap #header .wrap #menu #aside ul li a img {padding:6px;border:1px solid #ccc;background:#fff;border-radius:4px;}
#wrap #header .wrap #menu #aside ul li:last-child {margin:0 30px 0 15px;}

/* 메인 네비 */
#wrap #header .wrap #menu #nav {width:100%;height:66px;text-align:right;}
#wrap #header .wrap #menu #nav > ul {display:inline-block;}
#wrap #header .wrap #menu #nav > ul > li {float:left;}
#wrap #header .wrap #menu #nav > ul > li .main-btn {display:block;padding:10px 20px 44px 20px;font-size:13px;font-weight:500;}
/* #wrap #header .wrap #menu #nav > ul > li .main-btn:hover {background:#2c2a29;color:#669900;text-decoration:underline;}
#wrap #header .wrap #menu #nav > ul > li .main-btn:focus {background:#2c2a29;color:#669900;text-decoration:underline;} */
#wrap #header .wrap #menu #nav > ul > li .main-btn.addMainbtn {background:#2c2a29;color:#669900;text-decoration:underline;}

/* 서브 네비 */ 
#wrap #header .wrap #menu #nav > ul > li > .sub {display:none;position:absolute;top:121px;left:0;width:100%;text-align:left;}
#wrap #header .wrap #menu #nav > ul > li > .sub > ul {width:100%;}
#wrap #header .wrap #menu #nav > ul > li > .sub > ul > li {width:100%;} /* 2행 */
#wrap #header .wrap #menu #nav > ul > li > .sub > ul > li .sub-wrap {width:1100px;margin:0 auto;padding:20px 0;}
#wrap #header .wrap #menu #nav > ul > li > .sub > ul > li:nth-child(1) {background:#2c2a29;}

/* 1행 탑 */
#wrap #header .wrap #menu #nav > ul > li > .sub > ul > li:nth-child(1) .sub-wrap > ul {width:100%;}
#wrap #header .wrap #menu #nav > ul > li > .sub > ul > li:nth-child(1) .sub-wrap > ul > li {float:left;width:20%;} /* 6칸 너비 20% 5개 나열, 1개는 아래로 정렬됨 */
#wrap #header .wrap #menu #nav > ul > li > .sub > ul > li:nth-child(1) .sub-wrap > ul > li ul {width:100%;}
#wrap #header .wrap #menu #nav > ul > li > .sub > ul > li:nth-child(1) .sub-wrap > ul > li ul li {width:100%;line-height:22px;}
#wrap #header .wrap #menu #nav > ul > li > .sub > ul > li:nth-child(1) .sub-wrap > ul > li ul li a {color:#999;font-size:12px;}
#wrap #header .wrap #menu #nav > ul > li > .sub > ul > li:nth-child(1) .sub-wrap > ul > li ul li a:hover {text-decoration:underline;}
#wrap #header .wrap #menu #nav > ul > li > .sub > ul > li:nth-child(1) .sub-wrap > ul > li ul li:first-child a {color:#fff;font-size:13px;font-weight:bold;}

/* 2행 탑 */
#wrap #header .wrap #menu #nav > ul > li > .sub > ul > li:nth-child(2) {background:url(../img/gnb_sub_txbg.jpg);}
#wrap #header .wrap #menu #nav > ul > li > .sub > ul > li:nth-child(2) .sub-wrap > ul {width:100%;}
#wrap #header .wrap #menu #nav > ul > li > .sub > ul > li:nth-child(2) .sub-wrap > ul > li {width:100%;line-height:18px;}
#wrap #header .wrap #menu #nav > ul > li > .sub > ul > li:nth-child(2) .sub-wrap > ul > li:nth-child(3) {padding-top:10px;}
#wrap #header .wrap #menu #nav > ul > li > .sub > ul > li:nth-child(2) .sub-wrap > ul > li:nth-child(odd) a {color:#999;font-size:12px;}
#wrap #header .wrap #menu #nav > ul > li > .sub > ul > li:nth-child(2) .sub-wrap > ul > li a img {vertical-align:middle;padding-bottom:4px;padding-left:5px;}
#wrap #header .wrap #menu #nav > ul > li > .sub > ul > li:nth-child(2) .sub-wrap > ul > li:nth-child(odd) a:hover {text-decoration:underline;}
#wrap #header .wrap #menu #nav > ul > li > .sub > ul > li:nth-child(2) .sub-wrap > ul > li:nth-child(even) a {color:#64a700;font-size:12px;}

/* 메인 영역 */
#wrap #main {z-index:2;position:relative;margin-top:123px;}

/* 섹션 1 */
#wrap #main #section1 {width:100%;height:646px;background:url(../img/2020_autumn1_bg.jpg) no-repeat center; background-size:100% 100%;}
#wrap #main #section1 .wrap {position:relative;width:1100px;height:646px;margin:0 auto;}

/* 1번 이미지 */
#wrap #main #section1 .wrap .ani-1 {opacity:0;position:absolute;bottom:-13px;left:198px;display:block;width:358.047px;height:485.219px;}
#wrap #main #section1 .wrap .ani-1 > a > img {width:100%;}
#wrap #main #section1 .wrap .ani-1 strong {position:absolute;left:-137px;bottom:73px;width:190px;height:87.328px;}
#wrap #main #section1 .wrap .ani-1 strong img {width:100%;}

/* 2번 이미지    */
#wrap #main #section1 .wrap .ani-2 {opacity:0;position:absolute;bottom:65px;left:418px;display:block;width:379.047px;height:426.234px;}
#wrap #main #section1 .wrap .ani-2 > a > img {width:100%;}
#wrap #main #section1 .wrap .ani-2 strong {position:absolute;left:70px;top:0;width:132.047px;height:76.719px;}
#wrap #main #section1 .wrap .ani-2 strong img {width:100%;}

/* 3번 이미지 */
#wrap #main #section1 .wrap .ani-3 {opacity:0;position:absolute;bottom:6px;left:704px;display:block;width:328.016px;height:444.984px;}
#wrap #main #section1 .wrap .ani-3 > a > img {width:100%;}
#wrap #main #section1 .wrap .ani-3 strong {position:absolute;left:22px;top:-45px;width:124.016px;height:80.094px;}
#wrap #main #section1 .wrap .ani-3 strong img {width:100%;}

/* 4번 이미지 */
#wrap #main #section1 .wrap .ani-4 {opacity:0;position:absolute;bottom:32px;left:891px;display:block;width:304.041px;height:503.797px;}
#wrap #main #section1 .wrap .ani-4 > a > img {width:100%;}
#wrap #main #section1 .wrap .ani-4 strong {position:absolute;left:-11px;bottom:-5px;width:206.031px;height:90.672px;}
#wrap #main #section1 .wrap .ani-4 strong img {width:100%;}

/* 5번 이미지 */
#wrap #main #section1 .wrap .ani-5 {opacity:0;position:absolute;top:70px;left:0;display:block;width:382px;height:134px;}
#wrap #main #section1 .wrap .ani-5 strong {width:100%;}
#wrap #main #section1 .wrap .ani-5 strong img {width:100%;}

/* 6번 버튼 */
#wrap #main #section1 .wrap .ani-6 {opacity:0;position:absolute;top:244px;left:0;display:block;width:123px;height:35px;border:2px solid #fff;border-radius:3px;}
#wrap #main #section1 .wrap .ani-6 a {display:block;line-height:33px;color:#fff;text-align:center;font-weight:bold;font-size:13px;}
#wrap #main #section1 .wrap .ani-6 a:hover {background:#e5bb95;text-decoration:underline;color:#000;}



/* 섹션 2 */
#wrap #main #section2 {position:relative;width:100%;height:62px;}

/* 섹션2 좌측 */
#wrap #main #section2 .left {z-index:2;position:absolute;top:0;left:0;width:50%;height:62px;background:#111;}

#wrap #main #section2 .left .left-wrap  {position:relative;float:right;width:550px;height:62px; }

#wrap #main #section2 .left .left-wrap .notice-title {line-height:62px;}
#wrap #main #section2 .left .left-wrap .notice-title img {width:65px;}

#wrap #main #section2 .left .left-wrap .notice-list {position:absolute;width:470px;left:80px;top:20px;height:24px;overflow:hidden;}
#wrap #main #section2 .left .left-wrap .notice-list li  {z-index:2;width:100%;position:absolute;width:100%;height:24px;left:0;top:24px;}
#wrap #main #section2 .left .left-wrap .notice-list li:first-child {z-index:1;top:0;}
#wrap #main #section2 .left .left-wrap .notice-list li:nth-child(2) {z-index:3;top:24px;}
#wrap #main #section2 .left .left-wrap .notice-list li a {display:block;padding:5px 0;background:#111;color:#fff;font-size:14px;font-weight:bold;}

#wrap #main #section2 .left .left-wrap .notice-more  {position:absolute;right:-62px;top:0;height:62px;width:62px;background:#111;}
#wrap #main #section2 .left .left-wrap .notice-more a {display:inline-block;width:36px;height:36px;margin-top:13px;}
#wrap #main #section2 .left .left-wrap .notice-more a img {width:36px;height:36px;}

/* 섹션2 우측 */
#wrap #main #section2 .right {z-index:1;position:absolute;top:0;right:0;width:50%;height:62px;background:#f6f5ef;}
#wrap #main #section2 .right .right-wrap {width:550px;height:62px;text-align:right;}
#wrap #main #section2 .right .right-wrap h2 {display:inline-block;width:234px;height:36px;margin-top:13px;}
#wrap #main #section2 .right .right-wrap h2 a {display:block;width:100%;height:100%;text-align:left;background:url(../img/btn_prom_down.png) no-repeat 100% 50%;}
#wrap #main #section2 .right .right-wrap h2 a.addUp {background-image:url(../img/btn_prom_up.png)}
#wrap #main #section2 .right .right-wrap h2 a img {width:129px;height:17px;padding:9.5px 0;}

/* 섹션 3 */
#wrap #main #section3 {display:none;width:100%;height:659px;background:#f6f5ef;}
#wrap #main #section3 .wrap {width:100%;padding:40px 0;}
#wrap #main #section3 .wrap .slide-container {position:relative;width:100%;overflow:hidden;}
#wrap #main #section3 .wrap .slide-container .slide-view {position:relative;width:819px;margin:0 auto;}
#wrap #main #section3 .wrap .slide-container .slide-view .slide-wrap {position:relative;left:calc(-829px*0);width:calc(829px*6);margin-left:-819px;}
#wrap #main #section3 .wrap .slide-container .slide-view .slide-wrap .slide {float:left;width:829px;opacity:0.3;transition:all 0.3s;}
#wrap #main #section3 .wrap .slide-container .slide-view .slide-wrap .slide.addSlide {opacity:1;}
#wrap #main #section3 .wrap .slide-container .slide-view .slide-wrap .slide div {position:relative;margin:0 5px;}
#wrap #main #section3 .wrap .slide-container .slide-view .slide-wrap .slide div img {z-index:1;position:relative;width:100%;}
#wrap #main #section3 .wrap .slide-container .slide-view .slide-wrap .slide div span {z-index:2;position:absolute;bottom:20px;display:block;width:121px;height:38px;left:50%;margin-left:-63.5px;border:2px solid #222;border-radius:2px;}
#wrap #main #section3 .wrap .slide-container .slide-view .slide-wrap .slide div span a {display:block;width:100%;height:100%;background:transparent;color:#222;font-size:14px;text-align:center;line-height:38px;}
#wrap #main #section3 .wrap .slide-container .slide-view .slide-wrap .slide div span a:hover {background:#222;color:#fff;text-decoration:underline;}
#wrap #main #section3 .wrap .slide-container .slide-view .slide-wrap .slide div span a:focus {background:#222;color:#fff;text-decoration:underline;}

#wrap #main #section3 .wrap .slide-container .next-btn-wrap {z-index:2;position:absolute;top:50%;margin-top:-100px;right:50%;margin-right:-520px;display:block;width:50px;height:50px;background:transparent;border:2px solid #000;border-radius:50%;}
#wrap #main #section3 .wrap .slide-container .next-btn-wrap a {display:block;width:100%;height:50px;line-height:50px;text-align:center;transition:all 0.3s;background:transparent url(../img/arrow_right_on.png) no-repeat 55% 50%;}
#wrap #main #section3 .wrap .slide-container .next-btn-wrap a:hover {background-color:#fff;}

#wrap #main #section3 .wrap .slide-container .prev-btn-wrap {z-index:2;position:absolute;top:50%;margin-top:-100px;left:50%;margin-left:-520px;display:block;width:50px;height:50px;background:transparent;border:2px solid #000;border-radius:50%;}
#wrap #main #section3 .wrap .slide-container .prev-btn-wrap a {display:block;width:100%;height:50px;line-height:50px;text-align:center;transition:all 0.3s;background:transparent url(../img/arrow_left_on.png) no-repeat 55% 50%;}
#wrap #main #section3 .wrap .slide-container .prev-btn-wrap a:hover {background-color:#fff;}

#wrap #main #section3 .wrap .slide-container .page-wrap {width:100%;text-align:center;}
#wrap #main #section3 .wrap .slide-container .page-wrap li {display:inline-block;}
#wrap #main #section3 .wrap .slide-container .page-wrap li div {margin:0 3px;}
#wrap #main #section3 .wrap .slide-container .page-wrap li div a.pause-play-btn {display:block;width:12px;height:12px;background:url(../img/main_prom_stop.png) no-repeat 50% 50%;background-size:12px 12px;}
#wrap #main #section3 .wrap .slide-container .page-wrap li div a.pause-play-btn.addPlay {background-image:url(../img/main_prom_play.png)}

#wrap #main #section3 .wrap .slide-container .page-wrap li div a.page-btn {display:block;width:12px;height:12px;background:url(../img/main_prom_off.png) no-repeat 50% 50%;background-size:12px 12px;}
#wrap #main #section3 .wrap .slide-container .page-wrap li div a.page-btn.addPagebtn {background-image:url(../img/main_prom_on.png);}

/* 섹션 4 */
#wrap #main #section4 {width:100%;background:#1e3932;padding:30px 0 40px 0;}

#wrap #main #section4 .wrap {width: 1100px;margin:0 auto;}
#wrap #main #section4 .wrap .left {float:left;width:220px;}
#wrap #main #section4 .wrap .left .left-wrap {margin-right:44px;}
#wrap #main #section4 .wrap .left .left-wrap img {width:176px;}



#wrap #main #section4 .wrap .right {float:left;width:880px;}
#wrap #main #section4 .wrap .right .right-wrap {width:100%;color:#fff;}
#wrap #main #section4 .wrap .right .right-wrap h2 {font-size:26px;padding-bottom:20px;}
#wrap #main #section4 .wrap .right .right-wrap h2 strong {font-size:27px;font-weight:600;}

#wrap #main #section4 .wrap .right .right-wrap .right-row2  {width:100%;}
#wrap #main #section4 .wrap .right .right-wrap .right-row2 .right-row2-left  {float:left;width:647px;}
#wrap #main #section4 .wrap .right .right-wrap .right-row2 .right-row2-left h3  {font-size:17px;line-height:140%;}
#wrap #main #section4 .wrap .right .right-wrap .right-row2 .right-row2-left h3 strong  {font-size:18px;font-weight:800;}
#wrap #main #section4 .wrap .right .right-wrap .right-row2 .right-row2-left h3 br  {display:block;}


#wrap #main #section4 .wrap .right .right-wrap .right-row2 .right-row2-right  {float:left;width:233px;text-align:right;}
#wrap #main #section4 .wrap .right .right-wrap .right-row2 .right-row2-right div  {display: inline-block;}
#wrap #main #section4 .wrap .right .right-wrap .right-row2 .right-row2-right div span  {float:left;width:102.5px;height:34px;border-radius:5px;}
#wrap #main #section4 .wrap .right .right-wrap .right-row2 .right-row2-right div span:nth-child(1)  {margin-right:10px;border:2px solid #00704a;}
#wrap #main #section4 .wrap .right .right-wrap .right-row2 .right-row2-right div span:nth-child(2)  {border:2px solid #fff;}
#wrap #main #section4 .wrap .right .right-wrap .right-row2 .right-row2-right div span a  {display:block;width:100%;color:#fff;line-height:34px;font-size:14px;text-align:center;}
#wrap #main #section4 .wrap .right .right-wrap .right-row2 .right-row2-right div span a:hover  {text-decoration:underline;}
#wrap #main #section4 .wrap .right .right-wrap .right-row2 .right-row2-right div span:nth-child(1) a  {background:#00704a;}
#wrap #main #section4 .wrap .right .right-wrap .right-row2 .right-row2-right div span:nth-child(2) a  {background:transparent;}



#wrap #main #section4 .wrap .right .right-wrap  hr  {border:0;height:1px;margin:20px 0;background:#fff;opacity:.2;}
#wrap #main #section4 .wrap .right .right-wrap .right-row3  {color:#fff;}
#wrap #main #section4 .wrap .right .right-wrap .right-row3 .right-row3-left {float:left;width:647px;}
#wrap #main #section4 .wrap .right .right-wrap .right-row3 .right-row3-left h4 {font-size:14px;line-height:140%;}
#wrap #main #section4 .wrap .right .right-wrap .right-row3 .right-row3-left h4 strong {font-size:15px;font-weight:800;}

#wrap #main #section4 .wrap .right .right-wrap .right-row3 .right-row3-right {float:left;width:233px;}
#wrap #main #section4 .wrap .right .right-wrap .right-row3 .right-row3-right div {text-align:right;}
#wrap #main #section4 .wrap .right .right-wrap .right-row3 .right-row3-right div span {display:inline-block;width:219px;height:34px;border:2px solid #fff;border-radius:5px;}
#wrap #main #section4 .wrap .right .right-wrap .right-row3 .right-row3-right div span a {display:block;width:100%;line-height:34px;font-size:14px;color:#fff;text-align:center;}
#wrap #main #section4 .wrap .right .right-wrap .right-row3 .right-row3-right div span a:hover {text-decoration:underline;}
/* 섹션 5 */
#wrap #main  #section5 {width:100%;height:auto;background:#ebeced url(../img/20_autumn1_bg.jpg) no-repeat 50% 0;background-size:cover;padding:80px 0;}
#wrap #main  #section5 .wrap {width:1100px;margin:0 auto;}
#wrap #main  #section5 .wrap .left  {position:relative;left:0;float:left;width:50%;text-align:center;}
#wrap #main  #section5 .wrap .left img {width:210px;}

#wrap #main  #section5 .wrap .right {position:relative;right:0;float:left;width:50%;padding-top:96.75px;}
#wrap #main  #section5 .wrap .right h2 {width:100%;}
#wrap #main  #section5 .wrap .right h2 img {width:auto;}

#wrap #main  #section5 .wrap .right span {margin-top:40px;display:block;width:121px;height:34px;border:2px solid #222;border-radius:4px;}
#wrap #main  #section5 .wrap .right span a {display:block;width:100%;line-height:34px;color:#222;background:transparent;text-align:center;transition:all .3s;}
#wrap #main  #section5 .wrap .right span a:hover {background:#222;color:#fff;text-decoration:underline;}


/* 섹션 6 */
#wrap #main #section6 {width:100%;height:400px;background:#01221b url(../img/reserve_xmas_bg.jpg) no-repeat 50% 0;background-size:cover;}
#wrap #main #section6 .wrap {position:relative;width:1100px;height:400px;margin:0 auto;background:url(../img/reserve_xmas_title.png) no-repeat 0 50%;background-size:auto;}
#wrap #main #section6 .wrap .img-wrap {float:right;width:471px;height:400px;}
#wrap #main #section6 .wrap .img-wrap img {width:100%;}
#wrap #main #section6 .wrap .button-wrap {position: absolute;top:67%;left:34%;}
#wrap #main #section6 .wrap .button-wrap a {display:block;text-align:center;width:125px;line-height:35px;background:transparent;color:#e3b59e;border:1px solid #e3b59e;border-radius:4px;transition:all .3s;}
#wrap #main #section6 .wrap .button-wrap a:hover {background-color:#000;color:#fff;border-color:#fff;text-decoration:underline;}

/* 섹션 7 */
#wrap #main #section7 {width:100%;height:800px;background:url(../img/fav_prod_bg_new.jpg) no-repeat 50% 0 fixed;background-size:cover;}
#wrap #main #section7 .wrap {position:relative;width:1100px;height:800px;margin:0 auto;}
#wrap #main #section7 .wrap h2 {padding-top:169.5px;position:relative;left:0;width:372px;text-align:right;}
#wrap #main #section7 .wrap h3 {padding:30px 0;position:relative;left:0;width:372px;text-align:right;}
#wrap #main #section7 .wrap p {position:relative;left:0;width:372px;text-align:right;}
#wrap #main #section7 .wrap p span.button-wrap{display:inline-block;text-align:center;}
#wrap #main #section7 .wrap p span.button-wrap a {display:block;text-align:center;width:120px;line-height:35px;background:transparent;color:#fff;border:1px solid #fff;border-radius:4px;transition:all .3s;}
#wrap #main #section7 .wrap p span.button-wrap a:hover {background-color:#fff;color:#000;text-decoration:underline;}
#wrap #main #section7 .wrap span.img-wrap {position:absolute;right:-80px;top:169.5px;width:672px;height:457px;}
#wrap #main #section7 .wrap span.img-wrap img {width:100%;}

/* 섹션 8 */
#wrap #main  #section8 {position:relative;width:100%;height:auto;background:#fff;padding:90px 0;}
#wrap #main  #section8 .wrap {position:relative;width:1100px;margin:0 auto;}
#wrap #main  #section8 .wrap img {width:469px;margin-left:-25px;}
#wrap #main  #section8 .wrap .v-line {position:absolute;top:47px;left:474px;width:1px;height:440px;background:#ccc;}
#wrap #main  #section8 .wrap .h-line {position:absolute;top:339px;left:295px;width:950px;height:1px;background:#ddd;}
#wrap #main  #section8 .wrap .title-01 {position:absolute;top:180px;left:550px;width:565px;height:83px;}
#wrap #main  #section8 .wrap .title-01 img {width:100%;}
#wrap #main  #section8 .wrap .title-02 {position:absolute;top:359px;left:523px;width:287px;height:17px;padding:7px 5px;background:#fff;transition:background-color 1s;}
#wrap #main  #section8 .wrap .title-02:hover {background:#976d3f;}
#wrap #main  #section8 .wrap .title-02 a {display:block;width:287px;height:17px;background:url(../img/btn_magazine_pc.png) no-repeat 0 0;background-size:287px 34px;transition:background-position 0s;}
#wrap #main  #section8 .wrap .title-02:hover a {background-position:0 -17px;}

/* 섹션 9 */
#wrap #main  #section9 {width:100%;height:400px;overflow:hidden;background-image:url(../img/store_exp_img03.png), url(../img/store_bg.jpg);background-position:50% -61px,0 0;background-repeat:no-repeat,no-repeat;background-size:343px 142px,100% 100%;}
#wrap #main  #section9 .wrap {position:relative;width:1100px;height:400px;margin:0 auto;}

#wrap #main  #section9 .wrap .left-img-wrap {position:relative;float:left;width:50%;height:312px;}
#wrap #main  #section9 .wrap .left-img-wrap span.img-01 {z-index:1;position:relative;display:block;width:366px;height:312px;}
#wrap #main  #section9 .wrap .left-img-wrap span.img-01 img {width:100%;}
#wrap #main  #section9 .wrap .left-img-wrap span.img-02 {z-index:2;position:absolute;bottom:-70px;right:80px;display:block;width:228px;height:228px;}
#wrap #main  #section9 .wrap .left-img-wrap span.img-02 img {width:100%;}

#wrap #main  #section9 .wrap .right-title-wrap {position:relative;top:50%;margin-top:-98px;float:right;width:45%;}
#wrap #main  #section9 .wrap .right-title-wrap span.title-01 {position:relative;right:0;display:block;padding-bottom:10px;}
#wrap #main  #section9 .wrap .right-title-wrap span.title-01 img {width:auto;}
#wrap #main  #section9 .wrap .right-title-wrap span.title-02 {position:relative;right:0;display:block;padding-bottom:30px;}
#wrap #main  #section9 .wrap .right-title-wrap span.title-02 img {width:auto;}
#wrap #main  #section9 .wrap .right-title-wrap span.store-find-wrap {position:relative;right:0;display:block;width:123px;height:35px;border:2px solid #222;}
#wrap #main  #section9 .wrap .right-title-wrap span.store-find-wrap a {display:block;line-height:35px;color:#222;text-align:center;transition:all .6s;}
#wrap #main  #section9 .wrap .right-title-wrap span.store-find-wrap a:hover {background:#222;color:#fff;text-decoration:underline;}

#wrap #main  #section9 .wrap .right-bottom-img {position:absolute;bottom:0;right:-60px;}
#wrap #main  #section9 .wrap .right-bottom-img img {width:auto;}

/* 푸터 영역 */
#wrap #footer {z-index:1;position:relative;width:100%;background:#2c2a29;}
#wrap #footer .row .wrap {width:1100px;margin:0 auto;height:200px;}

#wrap #footer .row1 {width:100%;padding:35px 0;}
#wrap #footer .row1 .wrap {background:url(../img/footer_logo.png) no-repeat 100% 0;}
#wrap #footer .row1 .wrap ul {width:100%;}
#wrap #footer .row1 .wrap ul li {float:left;width:20%;}
#wrap #footer .row1 .wrap ul li dl {width:100%;}
#wrap #footer .row1 .wrap ul li dl a:hover {text-decoration:underline;}
#wrap #footer .row1 .wrap ul li dl dt {padding-bottom:15px;}
#wrap #footer .row1 .wrap ul li dl dt a {font-size:14px;color:#fff;}
#wrap #footer .row1 .wrap ul li dl dd {padding-bottom:10px;}
#wrap #footer .row1 .wrap ul li dl dd a {font-size:12px;color:#fff;}

#wrap #footer .row2 {width:100%;height:80px;padding:0;background:#282828;}
#wrap #footer .row2 .wrap {width:1134px; padding:8px 0;}
#wrap #footer .row2 .wrap ul {width:100%;}
#wrap #footer .row2 .wrap ul li {float:left;width:189px;}
#wrap #footer .row2 .wrap ul li a {display:inline-block;}
#wrap #footer .row2 .wrap ul li a img {width:100%;}

#wrap #footer .row3 {width:100%;padding:30px 0 40px 0;}
#wrap #footer .row3 ul {width:100%;}
#wrap #footer .row3 ul li {width:100%;text-align:center;}
#wrap #footer .row3 ul li  a:hover {text-decoration:underline;}
#wrap #footer .row3 ul li:nth-child(1) {padding-bottom:10px;}
#wrap #footer .row3 ul li:nth-child(2) {padding-bottom:20px;}
#wrap #footer .row3 ul li:nth-child(3) {padding-bottom:20px;}

#wrap #footer .row3 ul li:nth-child(1) span {display:inline-block;}
#wrap #footer .row3 ul li:nth-child(1) span a {color:#ccc;font-size:12px;}
#wrap #footer .row3 ul li:nth-child(1) span i {color:#444; margin:0 10px;}

#wrap #footer .row3 ul li:nth-child(2) span {display:inline-block;width:90px;height:30px;border:2px solid #fff;border-radius:4px;}
#wrap #footer .row3 ul li:nth-child(2) span a {display:block;text-align:center;line-height:30px;color:#fff;font-size:12px;font-weight:500;}

#wrap #footer .row3 ul li:nth-child(3) address span {display:inline-block;color:#999;font-size:12px;}
#wrap #footer .row3 ul li:nth-child(3) address i    {display:inline-block;color:#444;margin:0 7px;font-size:12px;}
#wrap #footer .row3 ul li:nth-child(4) span  {display:block;color:#999;margin:0 7px;font-size:12px;}


/* goTop */
.goTop {display:none;z-index:3;position:fixed;right:50px;bottom:45px;width:36px;height:36px;border-radius:50%;overflow:hidden;transition:bottom .5s;}
.goTop:hover {bottom:50px;}
.goTop a {display:inline-block;width:100%;height:100%;background:#bbb;transition:background-color 1s;}
.goTop a:hover {background:#fff;}
.goTop a img {width:100%;}


/* 퀴메뉴 */
.quick {z-index:3;position:fixed;top:138px;left:50%;margin-left:570px;width:140px;height:361px;}
.quick span:nth-child(1) {display:block;width:100%;height:265px;}
.quick span:nth-child(2) {display:block;width:100%;height:96px;}
.quick span a {display:inline-block;}
.quick span a img {width:100%;}


/* 웹표준검사 인증마크 */
.w3c-html5 {z-index:3;position:fixed;left:0;bottom:0;}

/* goTop */
.goTop {display:none;z-index:3;position:fixed;right:50px;bottom:45px;width:36px;height:36px;border-radius:50%;overflow:hidden;transition:bottom .5s;}
.goTop:hover {bottom:50px;}
.goTop a {display:inline-block;width:100%;height:100%;background:#bbb;transition:background-color 1s;}
.goTop a:hover {background:#fff;}
.goTop a img {width:100%;}

.quick {z-index:3;position:fixed;top:138px;left:50%;margin-left:570px;width:140px;height:calc(265px+96px);}
.quick span:nth-child(1) {display:block;width:100%;height:265px;}
.quick span:nth-child(2) {display:block;width:100%;height:96px;}
.quick span a {display:inline-block;}
.quick span a img {width:100%;}

/* 웹표준검사 인증마크 */
.w3c-html5 {z-index:3;position:fixed;left:0;bottom:0;}